.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    p {
        opacity: 0.5;
    }
}

.footer {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 23px;
    gap: 8px;
}

.wrapperSettings {
    display: flex;

    .settingIcon {
        margin-right: 8px;
    }
}

.button {
    background: var(--bg-tab);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    z-index: 1;
    box-shadow: 1px 2px 4px var(--home-text-shadow);
}

.buttonActive {
    background: var(--bg-tab-active);
}

@media (max-width: 710px) {
    .footer {
        right: 15px;
    }
}

.login {
    background: var(--color-warning);
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}
