.trainerPage {
    margin-bottom: 40px;

    .panel {
        margin: 10px 0;
    }

    .list {
        width: 100%;
        padding: 8px;
        background: var(--bg-navbar);
        margin: 4px 0;
        border-radius: 5px;
        color: var(--primary-color);
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;

        div:first-child {
            min-width: 30px;
            opacity: 0.3;
        }
    }

    .active {
        background: var(--bg-tab-active);
    }

    .start {
        position: fixed;
        bottom: 5px;
        width: 150px;
        right: 23px;
        background: var(--bg-tab);
        color: var(--primary-color);
        padding: 10px;
        border-radius: 5px;
    }

    @media (max-width: 710px) {
        .start {
            right: 15px;
        }
    }

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55.4vh;
        width: 100%;
    }
}
