.app_dark_theme {
    --bg-color: rgb(56 56 56);
    --bg-navbar: rgb(78 78 78);
    --bg-sidebar: rgb(37 37 37);
    --bg-sidebar-hover: rgb(31 31 31);
    --bg-sidebar-active: rgb(142, 66, 0);
    --bg-tab: #2d2d2d;
    --bg-tab-active: rgb(82, 38, 0);
    --bg-list: rgb(70, 70, 70);

    --primary-color: rgb(189, 189, 189);

    --box-shadow: rgba(147, 147, 147, 0.2);
    --home-text-shadow: black;

    --color-warning: rgb(105, 14, 14);
    --color-error: rgb(212, 21, 21);
    --color-svg-filter: black;
    --color-text-shadow: black;
    --home-text-color: rgb(201, 201, 201);

    --color-logo-one: rgb(60, 60, 60);
    --color-logo-two: rgb(177, 177, 177);
}
