.app_dark_theme {
    --bg-color: rgb(56 56 56);
    --bg-navbar: rgb(78 78 78);
    --bg-sidebar: rgb(37 37 37);
    --bg-sidebar-hover: rgb(31 31 31);
    --bg-sidebar-active: rgb(142, 66, 0);

    --primary-color: rgb(224 224 224);

    --box-shadow: rgba(147, 147, 147, 0.2);

    --color-warning: rgb(105, 14, 14);
    --color-error: rgb(212, 21, 21);
    --color-svg-filter: black;
    --color-text-shadow: black;

    --color-logo-one: rgb(60, 60, 60);
    --color-logo-two: rgb(177, 177, 177);

    --bg-tab: #001d3f;
    --bg-tab-active: rgb(82, 38, 0);
}
