.app_light_theme {
    --bg-color: rgb(227, 227, 227);
    --bg-navbar: rgb(207, 207, 207);
    --bg-sidebar: rgb(198, 198, 198);
    --bg-sidebar-hover: rgb(255, 255, 255);
    --bg-sidebar-active: rgb(142, 66, 0);
    --bg-tab: #ffffff;
    --bg-tab-active: rgb(203, 147, 98);
    --bg-list: rgb(215, 215, 215);

    --primary-color: rgb(0, 0, 0);

    --box-shadow: rgba(0, 0, 0, 0.2);

    --color-warning: rgb(226, 113, 113);
    --color-error: rgb(255, 25, 25);
    --color-svg-filter: rgb(203, 147, 98);
    --color-text-shadow: rgb(203, 147, 98);

    --color-logo-one: rgb(185, 185, 185);
    --color-logo-two: rgb(55, 55, 55);
}
