@mixin scrollbar() {
    @media (hover: hover) and (pointer: fine) {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            // background: var(--bg-navbar);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bg-navbar);
            border-radius: 20px;
        }
    }
}

@mixin focusVisible() {
    &:focus {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &:focus-visible {
        outline: 1px solid var(--primary-color);
        outline-offset: -1px;
    }
}
