.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logoPosition {
    margin-left: 40px;
}
