@use "../../../styles/mixins.scss";

.content {
    background: var(--bg-list);
    padding: 10px;
    font-size: 22px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    @include mixins.focusVisible();

    p {
        font-size: 16px;
        margin-top: 10px;
    }
}

.marginBottom {
    margin-bottom: 40px;
}

.hideText {
    filter: blur(6px);
    opacity: 0.3;
}

.activeWord {
    color: var(--bg-sidebar-active);
    text-shadow: 1px 1px 2px var(--color-text-shadow), 0 0 0.3em var(--color-text-shadow),
        0 0 0.2em var(--color-text-shadow);
}

.transcription {
    opacity: 0.7;
}

.element {
    padding-bottom: 20px;
}

.groupButton {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    svg {
        fill: var(--primary-color);
        opacity: 0.5;
    }

    .activeButton {
        svg {
            fill: var(--bg-sidebar-active);
            opacity: 1;
            filter: drop-shadow(2px 2px 2px var(--color-svg-filter));
        }
    }
}

.showCopy {
    position: absolute;
    right: 0;
    bottom: 40px;
    background: var(--bg-sidebar);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 16px;
}
