.optionSelectionPanel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 8px 8px;
    gap: 10px;

    .button {
        padding: 5px 15px;
        color: var(--primary-color);
        border-radius: 5px;
        font-weight: bold;
        background: var(--bg-tab);
        max-width: 100%;

        .wrapper {
            display: flex;
            gap: 10px;
        }
    }

    .active {
        background: var(--bg-tab-active);
    }
}
